<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Products</title>
</head>
<body>
    <h2>Add Product</h2>

    <form id="productForm">
        <input name="name" id="name" placeholder="Product Name"/>
        <button type="submit">Submit</button>
    </form>

    <!-- Axios CDN -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

    <script>
        const form = document.getElementById("productForm");

        form.addEventListener("submit", async function (e) {
            e.preventDefault();

            const productName = document.getElementById("name").value;

            const response = await axios.post("/products", {
                name: productName
            });

            alert("Server Response: " + response.data.name);
        });
    </script>
</body>
</html>
